<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Anonblog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="icon" href="https://d30y9cdsu7xlg0.cloudfront.net/png/19895-200.png">
  </head>
  
  <body>
    <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded" style="background-color: #ffffff; box-shadow: 0 0 20px rgba(0,0,0,0.1);">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Anonblog</a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/newpost">New post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stats</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
    <div class="jumbotron jumbotron-fluid" style="background-color: #ffffff;">
      <div class="container">
        <h1 class="display-3" style="text-align: center;">Anonblog</h1>
        <p class="lead" style="text-align: center;">Web blog where you can anonymously post anything</p>
        <form action="/newpost" method="get">
        <button type="submit" class="btn btn-outline-primary btn-lg btn-block" style="width: 30%; margin:auto; display:block;">Post now</button>
        </form>
      </div>
    </div>
    
    <div class="container" style="width: 60%;">
      <% blogposts.forEach(function(blogpost) { %>
        <div class="card" style="margin-bottom: 10px; box-shadow: 0 0 20px rgba(0,0,0,0.1);">
          <div class="card-block">
            <h4 class="card-title"><%= blogpost.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= blogpost.updated_at %></h6>
            <p class="card-text lead"><%= blogpost.content %>.</p>
            <button type="button" class="btn btn-success btn-sm">Up <span class="badge badge-pill badge-success" style="color:black; background-color: white;"><%= blogpost.ups %></span></button>
            <button type="button" class="btn btn-primary btn-sm">Down <span class="badge badge-pill badge-success" style="color:black; background-color: white;"><%= blogpost.downs %></span></button>
          </div>
        </div> 
      <% }); %>
    </div>
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>


